<h1>Listing recipes</h1>
<%= will_paginate @recipes, :class => 'apple_pagination' %>
<table>
  <tr>
    <th>Name</th>
    <th>Made by</th>
    <th>Ingredients</th>
    <!-- <th>Last made</th> -->
    <th>Image</th>
    <th>Serves</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.name, recipe %></td>
    <td><%= recipe.made_by %></td>
    <td><%= truncate(recipe.ingredients).html_safe %></td>
    <!-- <td><%= recipe.last_made %></td> -->
    <td><%= link_to "My Image", "/assets/#{recipe.image}" %></td>
    <td><%= recipe.serves %></td>
    <td><%= number_to_currency recipe.cost %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!--<td><%= link_to 'Email Recipe', email_recipe_path(recipe) %></td>-->
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @recipes, :class => 'apple_pagination' %>
<%= link_to 'New Recipe', new_recipe_path %>
